@import "bootstrap";

.product-form {
  width: 300px;
  display: none;
}

.edit-form{
  width: 300px;
}

.btn-danger {
  margin: 0 0 0 20px;
}

.errors, .field_with_errors {
  color: #cc0000;
}

.field_with_errors > .form-control {
  color: #cc0000;
  border-color: #cc0000;
}